@import "../../../styles/index.scss";

.highscores {
	width: rem(600px);
	margin: 0 auto;

	@include mobile-size {
		width: 100%;
	}

	.title {
		margin-top: rem(24px);
	}

	.controls {
		margin-top: rem(18px);

		.btn:not(:last-of-type) {
			margin-right: rem(12px);
		}
	}
}
