@import "../../styles/index.scss";

.chess-board {
	display: flex;
	flex-wrap: wrap;
	width: calc(96vh - 96px);
	max-width: 70vw;
	border: 2px solid $gray-600;
	margin: 0 rem(12px) rem(12px);

	@include large-height {
		width: calc(95vh - 118px);
	}

	.chess-square {
		width: 12.5%;
		padding-bottom: calc(12.5% - 4px);
		position: relative;
		border: 2px solid transparent;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;

		&.white {
			background-color: $light-square;
		}

		&.black {
			background-color: $dark-square;
		}

		&.red-highlight {
			border: 2px solid $red-dark;
			background-color: $red-dark;
		}

		&.green-highlight {
			border: 2px solid $green-dark;
			background-color: $green-dark;
		}

		&.blue-highlight {
			border: 2px solid $blue-dark;
			background-color: $blue-dark;
		}

		.check-piece {
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
		}
	}
}
