@import "../../styles/index.scss";

.chess-board {
	display: flex;
	flex-wrap: wrap;
	width: calc(96vh - 96px);
	max-width: 70vw;
	border: 2px solid $gray-600;
	margin: rem(12px);

	@include large-height {
		width: calc(95vh - 118px);
	}

	.chess-square {
		width: 12.5%;
		padding-bottom: 12.5%;
		position: relative;

		&.white {
			background-color: $light-square;
		}

		&.black {
			background-color: $dark-square;
		}

		.check-piece {
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
		}
	}
}
