@import "../styles/index.scss";

.header {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	margin-top: 6px;
	margin-bottom: 0;

	@include large-height {
		flex-direction: column;
		margin-bottom: 6px;
	}

	.logo img {
		height: 64px;
	}

	.navigator {
		display: flex;
		font-size: 1.6rem;

		.element {
			margin: 0 rem(12px);
			text-align: center;
		}
	}
}
