@import "../../styles/index.scss";

.btn {
	color: $gray-500;
	background-color: transparent;
	border: 1px solid $gray-500;
	border-radius: 4px;
	padding: rem(6px) rem(12px);
	transition: all 0.3s;

	&:hover:not(:disabled) {
		cursor: pointer;
		color: white;
		background-color: $gray-500;
	}

	&:disabled {
		border-color: $gray-200;
		color: $gray-200;
	}
}
