$white: #c9d1d9;
$black: #0d1117;

$gray-100: #acb3b9;
$gray-200: #92999f;
$gray-300: #797f85;
$gray-400: #5f656c;
$gray-500: #454a52;
$gray-600: #2c3038;
$gray-700: #12161e;

$red-light: #ff4a4d;
$red-dark: #ee1719;

$green-light: #07fc38;
$green-dark: #00ad3d;

$blue-light: #5bc8ff;
$blue-dark: #1676ec;

$yellow-light: #fcd858;
$yellow-dark: #efc116;
